<mat-toolbar class="fixed-header" color="primary">
        <mat-toolbar-row>
            <button [matMenuTriggerFor]="menu" mat-button-flat style="color:white; padding: 0;" *ngIf="role">
                    <mat-icon class="example-icon">menu</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item [routerLink]="p.link" *ngFor="let p of perm[role];">{{ p.label }}</button>
            </mat-menu>
            <span>Lidl Toolbox</span>
            <span class="example-spacer"></span>
            <mat-icon class="example-icon" aria-hidden="false" >shopping_cart</mat-icon>        
        </mat-toolbar-row>
</mat-toolbar>
<div  class="content-main">
    <router-outlet></router-outlet>
</div>


        
        